{% extends 'base.html.twig' %}

{% block body %}
<div class="container my-5">
    <h1 class="text-warning">Espace membre</h1>

    <div class="row">
        <div class="col-md-3">
            {% include 'account/_menu.html.twig' %}
        </div>

        <div class="col-md-9">
            <div class="card shadow-lg border-2 rounded-4 p-4" style="background-color: rgba(237, 237, 237, 0.85);">
                <h5 class="text-center fw-bold" style="color: #ff8505;">Ajouter / Modifier une adresse</h5>
                
                <hr class="border-dark">
            
                {{ form(addressForm, { 'class': 'btn btn-warning btn-lg w-100' }) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}