{# afficher le status de ma commande #}
{% if field.value == 1 %}
    <span class="badge bg-secondary text-dark">En attente de paiement</span>
{% elseif field.value == 2 %}
    <span class="badge bg-success text-dark">Payée</span>
{% elseif field.value == 3 %}
<span class="badge bg-success text-dark">Expédiée</span>
{% endif %}