
{% extends "base.html.twig" %}
{% block body %}
<div class="container my-5 d-flex justify-content-center">
<div class="card shadow-lg border-2 rounded-4 p-4 w-50" style="background-color: rgba(237, 237, 237, 0.85);">
    <h1 class="text-center" style="color: #ff8505;">Inscription</h1>

    <div class="mt-4">
        {{ form(registerForm) }}
    </div>

    <div class="mt-3 text-center">
        <p class="d-inline">Vous avez déjà un compte ?</p>
        <a class="d-inline fw-bold hover-underline" href="{{ path('app_login') }}" style="color: #ff8505;">Se connecter</a>
    </div>
</div>
</div>

<style>
.hover-shadow:hover {
    box-shadow: 0px 0px 10px;
}

.hover-underline:hover {
    text-decoration: underline;
}
</style>

{% endblock %}