{% extends 'base.html.twig' %}

{% block body %}

<div class="container my-5">
<h1 style="color: #ff8505">Espace membre</h1>

<div class="row">
    <div class="col-md-3">
        {% include 'account/_menu.html.twig' %}
    </div>
    
    <div class="col-md-9">
        <div class="card shadow-lg border-2 rounded-4 p-4" style="background-color: rgba(237, 237, 237, 0.85);">
            <h5 class="mb-3 text-center fw-bold" style="color: #ff8505">Modification de mon mot de passe</h5>
            <div class="p-3 rounded-3" style="background-color: rgba(237, 237, 237, 0.85);">
                {{ form(modifyPwd) }}
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
